* {
 font-family: Arial;
}


#allTasks, #allCompletedTasks {
	text-align: left;
	text-overflow: ellipsis;
	min-height:100px;
	background-color: #aefcb6;
	border-radius: 10px;
	padding: 1px;
}



li {
	max-width:450px;
	word-wrap: break-word;
	padding-left: 0;
}


.evenButton {
	background-color:rgb(255, 100, 100);
}

.toDoList {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

.mainHeadline {
	text-align: center;
	height:100px;
	background-color: #aefcb6;
	border-radius: 10px;
	padding: 1px;
}

.shesh {
	height: 25px;
	width: 120px;
	font-size: 18px;
}

.task, .completedTask {

	position: relative;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	height: auto;
	
	font-size: 18px;
	transition: 0.2s;


}


.completeTask {
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.deleteTask {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}